<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <appSettings>
    <add key="DefaultFolder" value="D:\epam_temp\"/>
    <add key="ServicePath" value="E:\_projects\epam\epamT4v2\bll_WinServiceFW\bin\Debug\bll_WinServiceFW.exe"/>

  </appSettings>  
  
</configuration>