<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <connectionStrings>
    <add name="SalesContext"
         connectionString="Data Source=DESKTOP-CSTF6K8;Initial Catalog=SalesDB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
         providerName="System.Data.SqlClient"
    />
  </connectionStrings>  
  
  <appSettings>
    <add key="FileFilter" value="*.csv"/>
    <add key="FileNamePattern" value="^[a-zA-Z]+_(0[1-9]|[12][0-9]|3[01]).(0[1-9]|1[012]).20\d\d_+[^.]*.csv"/>
  </appSettings>


</configuration>